<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Post activity</h1>
    <button class="button button-clear button-primary" ng-click="shareInfoPopup.hide()">Close</button>
  </ion-header-bar>
  <ion-content class="">
    <div class="list">
      <div class="item" ng-if="post.shared">
        You shared this post with:
        <ul>
          <li ng-repeat="shared in post.shared">
            <strong>{{shared.WaybookUser.firstName}} {{shared.WaybookUser.lastName}}</strong> on <strong>{{shared.sharedAt | date: 'MMM d, y'}}</strong>
          </li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
