/*
App-wide, high-level tweaks for the Waybook look.

*/

/* bodyContent background is our re-written $royal */
ion-view.pane {
  background-color: $royal;
}

/* platform-specific alterations */

//#App {
//  &.platform-macintel {
//    ion-content {
//
//      max-width: 600px;
//      margin: 0 auto;
//      //@include display-flex();
//      //@include flex-direction(column);
//      //@include justify-content(center);
//      //@include align-items(center);
//
//    }
//  }
//}

//.button-waybook-post {
//  font-weight: bold;
//  line-height: $button-small-height - $button-border-width - 3;
//}


.intro .slider {
    height: 100%;
}
.intro .slider-slide {
    padding-top: 80px;
    color: #000;
    background-color: #fff;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.small-on-wide {
  a, a:visited, a:active {
    &:not(.button):not(.tab-item) {
      text-decoration: none;
      color: $positive;
    }
  }

  @media (min-width: $grid-responsive-sm-break) {
    width: ($grid-responsive-sm-break - 25);
    margin: 0 auto;

    .aside-open & {
      width: ($grid-responsive-md-break - 295);
    }
  }
}

.cancel-overlay {
  overflow: visible;
  z-index: 99;
}

.share-with {
  width: 65%;
  margin-right: 8px;

  input {
    padding-right: 0 !important;
  }
}

tags-input .tags {
  border: 0;
  box-shadow: none;

  &.focused {
    box-shadow: none;
  }
}

.tag-item {
  background: $positive !important;
  border-color: darken($positive, 20%) !important;
  color: #FFF;

  .remove-button {
    color: #FFF !important;
  }
}
