<div class="item item-comments">
  <button class="button button-small button-clear icon-right ion-chevron-down button-dark button-toggle-comments" ng-if="!options.showAll && post.Comment.length > options.minCommentsToShow" ng-click="options.showAll = !options.showAll">{{post.Comment.length - 1}} <span ng-bind="post.Comment.length - 1 > 1 ? 'comments' : 'comment'"></span> </button>
  <div class="comment-list">
    <div class="comment" ng-repeat="comment in post.Comment | limitTo: options.showAll ? post.Comment.length : -options.minCommentsToShow">
      <div class="item item-avatar">
        <img gravatar-src="'{{comment.WaybookUser.email}}'" gravatar-size="80" gravatar-default="mm">
        <h2>{{comment.WaybookUser.firstName}} {{comment.WaybookUser.lastName}}</h2>
        <p><span title="{{comment.created | date: 'medium'}}">{{comment.created | date: 'MMM d, y'}}</span></p>
        <!-- <div ng-if="user.id === comment.WaybookUser.id" class="comment-actions">
          <button class="button button-icon ion-chevron-down" ng-click="showPopover($event, item)"></button>
        </div> -->
        <div class="comment-actions" ng-if="user.id === comment.WaybookUser.id" >
          <button class="button button-small button-light" ng-click="deleteComment(comment)">Delete</button>
          <button class="button button-small button-light" ng-click="showUpdateComment(comment)" ng-disabled="comment.editMode">Update</button>
        </div>
      </div>
      <div class="item comment-body">
        <p ng-if="!comment.editMode" class="post-content" ng-bind-html="comment.comment"></p>
        <div ng-show="comment.editMode">
          <form name="singleCommentForm" ng-submit="updateComment(comment)">
            <div class="comment-input-holder">
              <div class="comment-input" contenteditable="plaintext-only" ng-model="comment.comment" ng-focus="comment.editMode" required />
            </div>
            <button class="button button-balanced button-small" ng-disabled="!singleCommentForm.$valid">Update</button>
            <a href="" class="button button-stable button-small" ng-click="cancelUpdate(comment)">Cancel</a>
          </form>

        </div>

      </div>
    </div>
  </div>
  <div class="comment-form">
    <form name="commentForm" ng-submit="createComment()" novalidate>
      <div class="comment-input-holder">
        <div class="placeholder" ng-show="!options.userCommentFocus">Add a comment</div>
        <div class="comment-input" contenteditable="plaintext-only" ng-click="options.userCommentFocus = true" ng-model="model.comment" ng-class="{'inactive': !options.userCommentFocus}" required />
      </div>
      <div ng-show="options.userCommentFocus">
        <button class="button button-balanced button-small" ng-disabled="!commentForm.$valid" type="submit">Comment</button>
        <a class="button button-stable button-small" href="" ng-click="options.userCommentFocus = false; model.comment = ''">Cancel</a>
      </div>
    </form>
  </div>
</div>
</div>
