.discover {

  .list {
    .item-accordion {
      max-height: 1000px;
      overflow: hidden;
      transition: max-height 0.3s ease-in-out;

      &.ng-hide {
        max-height: 0;
      }
    }
  }
}
