.sponsors {
  ion-content {
    background-image: url(/img/intro/screen2.jpg);
    background-position: center 70%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .card {
    opacity: 0.9;
  }

  p {
    font-size: 16px;
    margin-top: 0;
    color: #000;
  }
}
