.unite {
  .no-contacts {
    text-align: center;
  }

  .ion-person-stalker {
    font-size: 52px;
    color: $disabled;
  }

  .button-more {
    position: absolute;
    top: 0;
    right: 0;
  }
}
