.unite {
  .no-contacts {
    text-align: center;
  }

  .ion-person-stalker {
    font-size: 52px;
    color: $disabled;
  }

  .no-contacts-message {
    font-size: 18px;
  }

  .button-bottom {
    margin-top: 0;
  }
}
