<div class="bar bar-subheader">
  <button
    class="button button-icon icon ion-chevron-left"
    ng-click="previous()"
    ng-if="slides.index > 0"></button>
  <h2 class="title">Question #{{slides.index + 1}} of {{slides.count}}</h2>
  <button
    class="button button-icon icon ion-chevron-right"
    ng-click="next()"
      ng-if="slides.index < slides.count - 1"

    ></button>
</div>
<ion-content class="padding has-subheader">
    <div class="small-on-wide">
      <button class="button button-positive button-block" ng-if="slides.completed.length == slides.count" ui-sref="app.explore.exploration.results({exploration: exploration.slug})">Check your results</button>
    </div>
    <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false" active-slide="slides.index">
      <ion-slide ng-repeat="question in exploration.questions | orderBy:  'order'">
        <div class="small-on-wide">
          <way-exploration-question-multiple-choice exploration="exploration" question="question" on-answer="next()" on-complete="markAsCompleted"></way-exploration-question-multiple-choice>
        </div>
      </ion-slide>
    </ion-slide-box>
</ion-content>
