@mixin keyframes($name) {
	@-moz-keyframes $name { @content; }
	@-webkit-keyframes $name { @content; }
	@keyframes $name { @content; }
}

@mixin animation($arguments) {
	-webkit-animation: #{$arguments};
	-moz-animation: #{$arguments};
	animation: #{$arguments};
}

@include keyframes(border-change) {
  from { box-shadow: 0 0 8px #009d6e; }
  to { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
};

@include keyframes(spin) {
	from {
     -webkit-transform: rotate(0deg);
    	-moz-transform: rotate(0deg);
    	-o-transform: rotate(0deg);
    	-ms-transform: rotate(0deg);
    	transform: rotate(0deg);
  }
  to {
     -webkit-transform: rotate(359deg);
    	-moz-transform: rotate(359deg);
    	-o-transform: rotate(359deg);
    	-ms-transform: rotate(359deg);
    	transform: rotate(359deg);
  }
}

@mixin just-edited() {
	@include animation('border-change 2s linear');
}

@mixin spin() {
	@include animation('spin infinite linear');
}

.spin::before {
  @include spin();
}
