.button-header-avatar {
  position: relative;
  padding-left: 30px !important;

  img {
    border-radius: 50%;
    max-height: 30px;
    position: absolute;
    top: 2px;
    left: 0;
  }

  span {
    display: inline !important;
  }
}
