<ion-view view-title="Unite" class="unite" hide-back-button="true">
  <div class="bar bar-subheader" ng-if="contacts.length">
    <div class="small-on-wide">
      <div class="buttons">
        <button class="button button-clear button-positive ion-plus" ui-sref="app.unite.add"> Supporter</button>
      </div>
    </div>
  </div>
  <ion-content padding="true" ng-class="{'has-subheader': contacts.length}">
    <div class="small-on-wide">
      <div class="card no-contacts" ng-if="!contacts.length">
        <div class="item item-text-wrap">
          <i class="icon ion-person-stalker"></i>
          <button class="button button-block button-positive icon ion-person-add" ui-sref="app.unite.add"> Add a supporter</button>
        </div>
      </div>
      <ion-list ng-if="contacts.length">
        <ion-item class="item-avatar item-remove-animate" ng-repeat="contact in contacts track by contact.id | orderBy: 'firstName'" item="product" ui-sref="app.unite.contact({contactId:contact.id})" on-hold="showMenu(contact)">
          <img gravatar-src="'{{contact.email}}'" gravatar-size="80" gravatar-default="mm">
          <h2>{{contact.firstName}} {{contact.lastName}}</h2>
          <span  ng-repeat="tag in contact.tags" class="item-note">#{{tag.text}}&nbsp;&nbsp;</span>
          <p>{{contact.email}}</p>
          <button class="button button-more button-clear icon ion-chevron-down" ng-click="showPopover($event, contact)"></button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
<way-help-overlay help="sections/unite/help.html"></way-help-overlay>
