# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# --------------------
# IntelliJ Files
# --------------------
*.iml
*.ipr
*.iws
.idea/

# --------------------
# Netbeans Files
# --------------------
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# --------------------
# TextMate
# --------------------
.tm_properties

# --------------------
# Node Files
# --------------------
.nodemonignore
npm-debug.log
/node_modules/*

# --------------------
# App Files
# --------------------
scss/.sass-cache/
www/lib/
www/app/waybook-min.js*
www/css/waybook.css*
www/app/components/lodash.custom.min.js
npm-debug.log*

# --------------------
# localenv files
# --------------------
.env
.env.local
