# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# --------------------
# IntelliJ Files
# --------------------
*.iml
*.ipr
*.iws
.idea/

# --------------------
# Netbeans Files
# --------------------
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# --------------------
# TextMate
# --------------------
.tm_properties

# --------------------
# Node Files
# --------------------
.nodemonignore
npm-debug.log
/node_modules/*

# --------------------
# App Files
# --------------------
app/css/.sass-cache/
bower_components/
www/*
app/js/components/lodash.custom.min.js
app/js/templates.js
npm-debug.log*

# --------------------
# localenv files
# --------------------
.env
.env.local
*.gz


# --------------------
# Ionic files
# --------------------
platforms/
plugins/
plugins/*
mywaylearning.keystore
ANDROID_Waybook*
