.about {

  p {
    font-size: 16px;
    margin-top: 0;
    color: #444;
  }

  ion-content {
    background-image: url(../img/intro/screen1.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (orientation: landscape) {
      background-position: center 20%;
    }
  }

  .card {
    opacity: 0.97;
  }

  ol {
    list-style: decimal;
    padding-left: 30px;
  }
}
