.guideme {
  .completed {
    // text-decoration: line-through;
    opacity: 0.5;
  }

  .item-content {
    overflow: auto !important;
    text-overflow: inherit !important;
    white-space: normal !important;
  }

  .item-body {
    border-left: 4px solid;
  }

  .goal {
    border-left-color: $balanced;
  }

  .unite {
    border-left-color: $energized;
  }

  .explore {
    border-left-color: $positive;
  }
}
