.search {
  .custom-label-wrapper {
    position: relative;
    display: flex;
    flex: 1 0;
  }

  .ion-close-circled {
    position: absolute;
    right: 5px;
    top: 6px;
    z-index: 9999;
  }
}

mentio-menu.mentio-search-page {
  margin-top: 6px !important;
  .aside-open & {
    margin-left: 276px;
  }

  .modal-open & {
    margin-left: 0;
  }
}
