.search {

  .small-on-wide {
    position: relative;
  }

  .custom-label-wrapper {
    position: relative;
    display: flex;
    flex: 1 0;
  }

  .ion-close-circled {
    position: absolute;
    right: 5px;
    top: 6px;
    z-index: 9999;
  }

  .bar-subheader, .bar {
    height: auto;

    @media (min-width: $grid-responsive-sm-break) {
      height: 44px;
    }
  }

  .search-on-bar {

    @media (min-width: $grid-responsive-sm-break) {
      float: left;
      width: 55%;
    }
  }

  .item-select {
    width: 49%;
    display: inline-block;
    height: 38px;

    @media (min-width: $grid-responsive-sm-break) {
      position: absolute;
      top: 3px;
      right: 0;
      height: 30px;
      width: 110px;
      z-index: 11;
    }

    select {
      max-width: 100%;
    }
  }

  .select-type {
    @media (min-width: $grid-responsive-sm-break) {
      right: 100px;
      width: 145px;
    }
  }

  .has-subheader {
    top: 134px;

    @media (min-width: $grid-responsive-sm-break) {
      top: 88px;
    }
  }
}

mentio-menu.mentio-search-page {
  margin-top: 6px !important;
  .aside-open & {
    margin-left: 276px;
  }

  .modal-open & {
    margin-left: 0;
  }
}
