.search {

  .small-on-wide {
    position: relative;
  }

  .custom-label-wrapper {
    position: relative;
    display: flex;
    flex: 1 0;
  }

  .ion-close-circled {
    position: absolute;
    right: 5px;
    top: 6px;
    z-index: 9999;
  }

  .search-on-bar {
    float: left;
    width: 55%;
  }

  .item-select {
    position: absolute;
    top: 3px;
    right: 0;
    height: 30px;
    width: 110px;
    z-index: 11;

    select {
      max-width: 100%;
    }
  }

  .select-type {
    right: 100px;
    width: 145px;
  }
}

mentio-menu.mentio-search-page {
  margin-top: 6px !important;
  .aside-open & {
    margin-left: 276px;
  }

  .modal-open & {
    margin-left: 0;
  }
}
