<ion-view view-title="Recover password">
  <ion-content padding="true">
    <form name="recoverPasswordForm">
      <div class="card">
        <label class="item item-input">
          <span class="input-label">New password:</span>
          <i class="icon placeholder-icon" ng-show="recoverPasswordForm.password.$dirty" ng-class="{'ion-close': recoverPasswordForm.password.$invalid, 'ion-checkmark': recoverPasswordForm.password.$valid}"></i>
          <input type="password" ng-model="password.new" placeholder="New password" name="password" required check-pw>
        </label>
        <label class="item item-input item-divider" ng-show="recoverPasswordForm.password.$dirty && recoverPasswordForm.password.$invalid">
          <span class="input-label"></span>
          <p class="password-helper" ng-class="{'assertive': recoverPasswordForm.password.$invalid}">Use at least one uppercase letter, one numeral and seven characters.</p>
        </label>
        <label class="item item-input">
          <span class="input-label" ng-class="{'assertive': recoverPasswordForm.confirmPassword.$invalid && recoverPasswordForm.password.$dirty}">Confirm password:</span>
          <i class="icon placeholder-icon" ng-show="recoverPasswordForm.confirmPassword.$dirty" ng-class="{'ion-close': recoverPasswordForm.confirmPassword.$invalid, 'ion-checkmark': recoverPasswordForm.confirmPassword.$valid}"></i>
          <input type="password" name="confirmPassword" ng-model="password.confirm" placeholder="Type again your new password" required password-match="password.new">
        </label>
      </div>

      <button class="button button-positive button-block" ng-disabled="recoverPasswordForm.$invalid" ng-click="setNewPassword()">Set new password</button>
    </form>
  </ion-content>
</ion-view>
