<div class="feed">
  <h3>Feed listing</h3>
  <div class="list card" ng-repeat="item in feed.items | orderBy: '-created'">
    <div class="item item-avatar">
      <img gravatar-src="'{{item.WaybookUser.email}}'" gravatar-size="80" gravatar-default="mm">
      <h2>{{item.WaybookUser.firstName}} {{item.WaybookUser.lastName}}</h2>
      <p><span title="{{item.created | date: 'medium'}}">{{item.created | date: 'MMM d, y'}}</span></p>
      <div class="post-actions">
        <button class="button button-icon ion-chevron-down" ng-click="showPopover($event, item)"></button>
      </div>
      <div class="item-tags">
        <span class="item-tag" ng-repeat="tag in item.tags track by $index">#{{tag}}</span>
      </div>
    </div>
    <div ng-if="item.image" class="item item-image">
      <img ng-src="{{item.image}}" />
    </div>
    <div class="item item-body">
      <p class="post-content" ng-bind-html="item.content"></p>
      <div ng-if="item.link" class="row responsive-sm">
        <div class="col col-50 col-offset-25">
          <link-preview link="item.link"></link-preview>
        </div>
      </div>
      <p>
        <strong ng-if="item.files.length" ng-click="item.showFiles = ! item.showFiles" class="subdued"><span ng-bind="item.showFiles ? 'Hide' : 'Show'"></span> {{item.files.length}} files attached</strong>
      </p>
    </div>
    <div ng-if="item.showFiles">
      <div class="item item-divider">
        Files
      </div>
      <div class="list">
        <a href="{{file.url}}" target="_blank" class="item" ng-repeat="file in item.files">
            <h2>{{file.filename}}</h2>
            <p>{{file.mimetype}} | {{file.size / 1000 | number:2}} kB</p>
        </a>
      </div>
    </div>
    <div class="item item-comments">
      <div class="comment-list">
        <div class="comment">
          <div class="item item-avatar">
            <img src="/img/joshk.jpg">
            <h2>Josh Kopelman</h2>
            <p><span title="{{item.created | date: 'medium'}}">{{item.created | date: 'MMM d, y'}}</span></p>
          </div>
          <div class="item comment-body">
            <p class="post-content">This is the content of the comment</p>
          </div>
        </div>
        <div class="comment">
          <div class="item item-avatar">
            <img src="/img/joshk.jpg">
            <h2>Josh Kopelman</h2>
            <p><span title="{{item.created | date: 'medium'}}">{{item.created | date: 'MMM d, y'}}</span></p>
          </div>
          <div class="item comment-body">
            <p class="post-content">This is the content of the comment</p>
          </div>
        </div>
      </div>
      <div class="comment-form">
        <div class="placeholder" ng-show="!item.userCommentFocus">Add a comment</div>
        <div class="comment-input" contenteditable="plaintext-only" ng-click="item.userCommentFocus = true" ng-model="item.userComment" ng-class="{'inactive': !item.userCommentFocus}" />
        <div ng-show="item.userCommentFocus">
          <button class="button button-balanced button-small">Comment</button>
          <button class="button button-stable button-small" ng-click="item.userCommentFocus = false; item.userComment = ''">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
