<div class="feed">
  <h3>Feed listing</h3>
  <div class="list card" ng-repeat="item in feed.items | orderBy: '-created'">
    <div class="item item-avatar">
      <img gravatar-src="'{{item.WaybookUser.email}}'" gravatar-size="80" gravatar-default="mm">
      <h2>{{item.WaybookUser.firstName}} {{item.WaybookUser.lastName}}</h2>
      <p><span title="{{item.created | date: 'medium'}}">{{item.created | date: 'MMM d, y'}}</span></p>
      <div class="post-actions">
        <button class="button button-icon ion-chevron-down" ng-click="showPopover($event, item)"></button>
      </div>
      <div class="item-tags">
        <span class="item-tag" ng-repeat="tag in item.tags track by $index">#{{tag}}</span>
      </div>
    </div>
    <div ng-if="item.image" class="item item-image">
      <img ng-src="{{item.image}}" />
    </div>
    <div class="item item-body" ng-bind-html="item.content"></div>
    <div ng-if="item.postType === 'goal'" class="item item-body">
      <div ng-if="item.gRecurringEnabled">
        Your goal is to do this <strong>{{item.gRecurringRepeatsEvery}}</strong> times on a <strong>{{item.gRecurringRecurrence}}</strong> basis.
      </div>
      This goal is a <strong>{{item.gImportance}}</strong>. You’ve committed to start working on it on <strong>{{item.gStartDate | date: 'longDate'}}</strong> and complete it by <strong>{{item.gEndDate | date: 'longDate'}}</strong>.
    </div>
    <div class="item" ng-if="item.link || item.files.length">
      <div ng-if="item.link" class="row responsive-sm">
        <div class="col col-50 col-offset-25">
          <link-preview link="item.link"></link-preview>
        </div>
      </div>
      <p>
        <strong ng-if="item.files.length" ng-click="item.showFiles = ! item.showFiles" class="subdued"><span ng-bind="item.showFiles ? 'Hide' : 'Show'"></span> {{item.files.length}} files attached</strong>
      </p>
    </div>
    <div ng-if="item.showFiles">
      <div class="item item-divider">
        Files
      </div>
      <div class="list">
        <a href="{{file.url}}" target="_blank" class="item" ng-repeat="file in item.files">
            <h2>{{file.filename}}</h2>
            <p>{{file.mimetype}} | {{file.size / 1000 | number:2}} kB</p>
        </a>
      </div>
    </div>
    <way-comment post="item" user="app.user"></way-comment>
  </div>
</div>
