<ion-popover-view>
  <div class="list">
    <a ng-if="app.user.id == popover.item.userId" class="item item-icon-left" href="" ng-click="editPost(popover.item)">
      <i class="icon ion-edit"></i> Edit
    </a>
    <a ng-if="app.user.id == popover.item.userId" class="item item-icon-left" href="" ng-click="deletePost(popover.item)">
      <i class="icon ion-close"></i> Delete
    </a>
    <a class="item item-icon-left" href="" target="_blank">
      <i class="icon ion-link"></i> Link to this post
    </a>
    <!-- <a class="item item-icon-left" href="" target="_blank">
      <i class="icon ion-volume-mute"></i> Mute
    </a>
    <a class="item item-icon-left" href="" target="_blank">
      <i class="icon ion-flag"></i> Report
    </a> -->
  </div>
</ion-popover-view>
