<div class="bar bar-subheader">
  <button
    class="button button-icon icon ion-chevron-left"
    ng-click="previous()"
    ng-if="slides.index > 0"></button>
  <h2 class="title">Question #{{slides.index + 1}} of {{slides.count}}</h2>
  <button
    class="button button-icon icon ion-chevron-right"
    ng-click="next()"
      ng-if="slides.index < slides.count - 1"

    ></button>
</div>
<ion-content class="padding has-subheader">
  <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false" active-slide="slides.index">
    <ion-slide ng-repeat="question in exploration.questions | orderBy:  'order'">
      <way-exploration-question-question-answer exploration="exploration" question="question" on-answer="next()"></way-exploration-question-question-answer>
    </ion-slide>
  </ion-slide-box>
</ion-content>
