<ion-view title="Explore" class="discover" hide-back-button="true">
  <ion-content padding="true" class="has-header" overflow-scroll="true">
    <div class="small-on-wide">
      <div class="list">

        <div ng-repeat="category in viewData.categories track by $index">
          <div class="item item-divider" ng-click="category.shown = !category.shown">{{category.category}}</div>
          <a
            ng-repeat="exploration in category.explorations"
            ui-sref="app.explore.exploration({exploration: exploration.slug})"
            class="item item-thumbnail-left item-accordion" ng-show="category.shown">
            <img ng-src="{{exploration.image}}">
            <h2>{{exploration.name}}</h2>
            <p>{{exploration.description}}</p>
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
<way-help-overlay help="sections/explore/help.html"></way-help-overlay>
