<ion-view title="{{viewData.exploration.name}}">
  <way-exploration-questions-multiple-choice
    ng-if="viewData.exploration.pattern == 'multiple-choice'"
    exploration="viewData.exploration"></way-exploration-questions-multiple-choice>

  <way-exploration-questions-heat-map
    ng-if="viewData.exploration.pattern == 'heatmap'"
    exploration="viewData.exploration"></way-exploration-questions-heat-map>

  <way-exploration-questions-question-answer
    ng-if="viewData.exploration.pattern == 'qa'"
    exploration="viewData.exploration"></way-exploration-questions-question-answer>
</ion-view>
