<ion-view title="10 year plan">
  <ion-content padding="true" scroll="false">
    <div class="small-on-wide">
      <div class="card" ng-if="!loaded">
        <div class="item item-body">
          <p>It costs time and money to deliver the waybook. We want to keep the experience focused and rich, so we don’t place ads. We want to ensure all will have access, so we don’t require that you pay for access.</p>
          <p>It may take a while to generate your data.</p>
          <div class="text-center">
            <button class="button button-positive" ng-disabled="loading" ng-click="load()">
              <ion-spinner class="spinner-light" ng-if="loading"></ion-spinner> Check your 10 year plan
            </button>
          </div>
        </div>
      </div>


      <div class="card" ng-if="loaded">
        <div class="item item-divider">Save as PDF</div>
        <div class="item item-body">
          Instructions to save as PDF..
          <div class="text-center">
            <button class="button button-positive icon-left ion-document-text">Save</button>
          </div>
        </div>
      </div>

      <div ng-if="loaded">[Posts]</div>
    </div>
  </ion-content>
</ion-view>
