<ion-view title="{{app.user.firstName}} {{app.user.lastName}}" class="my-plan">
  <div class="bar bar-subheader hide-on-print">
    <h1 class="title">Current plan - {{ now | date }}</h1>
  </div>
  <ion-content class="has-subheader" padding="true">
    <div class="my-plan-heading">
      <h2>{{app.user.firstName}} {{app.user.lastName}}</h2>
      <h3>Current plan - {{ now | date }}</h3>
    </div>
    <div class="small-on-wide">
      <div class="card hide-on-print">
        <div class="item item-body">
          <div class="text-center">
            <button class="button button-positive icon-left ion-document-text" ng-click="print()">Print / Save as PDF</button>
          </div>
        </div>
      </div>

      <div ng-class="{'hide-on-print': !report.discoveries.length}">
        <h4 class="block-title"><span class="text">Discoveries</span></h4>
        <div ng-repeat="post in report.discoveries | orderBy: '-created'">
          <way-post-view post="post" user="app.user" owner="app.user" view-mode="true"></way-post-view>
        </div>
        <div ng-if="!report.discoveries.length" class="text-center">
          <p>No discoveries yet.</p>
          <button class="button button-positive button-outline" ng-click="goTo('main', 'discovery')">+ Discovery</button>
        </div>
      </div>

      <div ng-class="{'hide-on-print': !report.goals.length}">
        <h4 class="block-title"><span class="text">Goals</span></h4>
        <div ng-repeat="post in report.goals | orderBy: '-created'">
          <way-post-view post="post" user="app.user" owner="app.user" view-mode="true"></way-post-view>
        </div>
        <div ng-if="!report.goals.length" class="text-center">
          <p>No goals yet.</p>
          <button class="button button-positive button-outline" ng-click="goTo('main', 'goal')">+ Goal</button>
        </div>
      </div>

      <div ng-class="{'hide-on-print': !report.habits.length}">
        <h4 class="block-title"><span class="text">Habits</span></h4>
        <div ng-repeat="post in report.habits | orderBy: '-created'">
          <way-post-view post="post" user="app.user" owner="app.user" view-mode="true"></way-post-view>
        </div>
        <div ng-if="!report.habits.length" class="text-center">
          <p>No habits yet.</p>
          <button class="button button-positive button-outline" ng-click="goTo('main', 'goal')">+ Habit</button>
        </div>
      </div>

      <div ng-class="{'hide-on-print': !report.contacts.length}">
        <h4 class="block-title"><span class="text">Supporters</span></h4>
        <div class="list" ng-repeat="contact in report.contacts | orderBy: '-created'">
          <way-contact-item contact="contact"></way-contact-item>
        </div>
        <div ng-if="!report.contacts.length" class="text-center">
          <p>No supporters yet.</p>
          <button class="button button-positive button-outline" ng-click="goTo('app.unite.add')">+ Supporter</button>
        </div>
      </div>

      <div ng-class="{'hide-on-print': !report.resources.length}">
        <h4 class="block-title"><span class="text">Resources</span></h4>
        <div ng-repeat="post in report.resources | orderBy: '-created'">
          <way-post-view post="post" user="app.user" owner="app.user" view-mode="true"></way-post-view>
        </div>
        <div ng-if="!report.resources.length" class="text-center">
          <p>No resources yet.</p>
          <button class="button button-positive button-outline" ng-click="goTo('main', 'resource')">+ Resource</button>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
