<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Settings</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeSettings()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="saveSettings()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Some value</span>
          <input type="text" placeholder="goes here" ng-model="settingsData.value1">
        </label>
        <label class="item item-select">
          <div class="input-label">Crank it up to</div>
          <select ng-model="settingsData.volume">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option selected>11</option>
          </select>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Save</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
