.watson {

  .item-title {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 140%;
    font-weight: bold;
    text-align: center;
  }

  .item-group {
    font-weight: bold;
    border-top: 1px solid #ddd !important;
  }

  .item-group-child {
    text-indent: 20px;
  }

  .item-note {
    color: #555555;
  }
}
