.login {
  .verify-account {
    text-align: center;

    .message {
      display: block;
      height: 34px;
      top: 0;
      padding: 0;
      line-height: 34px;
      font-size: 14px;
      color: #FFF;

      &.success {
        background-color: #33cd5f;
      }

      &.error {
        background-color: #e42012
      }
    }
  }

  .login-actions {
    margin: 15px 0;
  }

  .button-login {
      width: 120px;
  }

  .button-recover-password {
    margin: 10px 0 0 10px;
    float: right;

  }

  .login-extras {
    font-size: 12px;
    text-align: center;
  }
}
