<div class="post-form inner-content">
  <form name="postForm" novalidate ng-submit="ctrl.save(postForm)" >
  <div class="list cancel-overlay" ng-class="{'card': !ctrl.sharedPost}">
    <div class="item item-text-wrap">
      <textarea ng-if="!ctrl.model.postType" placeholder="{{ctrl.placeHolder}}" class="textarea inactive" ng-click="ctrl.goToGoal()"></textarea>
      <div ng-if="ctrl.model.postType">
          <textarea class="textarea"
            name="content"
            ng-model="ctrl.model.content"
            placeholder="{{ctrl.placeHolder}}"
            mentio
            id="tags"
            mentio-typedTerm="typedTerm"
            mentio-require-leading-space="true"
            ng-required="ctrl.modalInstance ? (ctrl.sharedPost ? false : true) : true"
            ></textarea>

            <mentio-menu
                  class="mentio-post-form"
                  mentio-for="'tags'"
                  mentio-trigger-char="'#'"
                  mentio-items="ctrl.tagsView"
                  mentio-template-url="/tags.tpl"
                  mentio-search="ctrl.searchTag(term)"
                  mentio-select="ctrl.getTagText(item)"
                  ></mentio-menu>
      </div>
      <div class="form-errors" ng-messages="postForm.$submitted && postForm.content.$error">
        <div ng-messages-include="core/errors/messages.html"></div>
      </div>
      <div ng-if="!ctrl.model.postType && !ctrl.sharedPost" class="button-bar">
          <button class="button button-icon button-waybook-post icon ion-pinpoint balanced" ui-sref="app.main.type({type: 'goal'})"><span class="clearfix dark">Goal</span></button>
          <button class="button button-icon button-waybook-post icon ion-flash" ui-sref="app.main.type({type: 'discovery'})"><span class="clearfix dark">Discovery</span></button>
          <button class="button button-icon button-waybook-post icon ion-document-text" ui-sref="app.main.type({type: 'resource'})"><span class="clearfix dark">Resource</span></button>
          <button class="button button-icon button-waybook-post icon ion-chatbubble" ui-sref="app.main.type({type: 'thought'})"><span class="clearfix dark">Thought</span></button>
      </div>
    </div>
    <div ng-if="ctrl.model.postType == 'goal'">
      <label class="item item-input item-select">
        <div class="input-label">
          Importance:
        </div>
        <select ng-model="ctrl.model.gImportance">
          <option value="Must Complete">Must Complete</option>
          <option value="Should Complete">Should Complete</option>
          <option value="Nice to Complete">Nice to Complete</option>
        </select>
      </label>
      <div class="item item-input">
        <span class="input-label">Start date:</span>
        <span ionic-datepicker input-obj="ctrl.startDateConfig" class="button button-clear button-dark button-small icon ion-calendar"></span>
        <input type="date" name="start" placeholder="yyyy-mm-dd" class="hide-calendar-widget" ng-model="ctrl.model.gStartDate">
      </div>
      <div class="form-errors" ng-messages="postForm.$submitted && postForm.start.$error">
        <div ng-messages-include="core/errors/messages.html"></div>
      </div>
      <div class="item item-input" ng-class="{ 'has-error' : postForm.$submitted && postForm.deadline.$invalid}">
        <span class="input-label"><strong>Deadline:</strong></span>
        <span ionic-datepicker input-obj="ctrl.deadlineDateConfig" class="button button-clear button-dark button-small icon ion-calendar"></span>
        <input type="date" name="deadline" placeholder="yyyy-mm-dd" class="hide-calendar-widget" ng-model="ctrl.model.gEndDate" required>
      </div>
      <div class="form-errors" ng-messages="postForm.$submitted && postForm.deadline.$error">
        <div ng-messages-include="core/errors/messages.html"></div>
      </div>
      <ion-toggle
          ng-model="ctrl.model.gRecurringEnabled"
          class="item item-text-wrap habit">
          This recurs, and is really a goal to form a habit
      </ion-toggle>
      <div ng-show="ctrl.model.gRecurringEnabled" class="list">
        <div class="item item-divider">
          Habit
        </div>
        <label class="item item-input item-select">
          <div class="input-label">
            Recurrence (the period):
          </div>
          <select ng-model="ctrl.model.gRecurringRecurrence">
            <option value="Daily">Daily</option>
            <option value="Weekly">Weekly</option>
            <option value="Bi-weekly">Bi-weekly</option>
            <option value="Monthly">Monthly</option>
            <option value="Quarterly">Quarterly</option>
            <option value="Semi-annual">Semi-annual</option>
            <option value="Yearly">Yearly</option>
          </select>
        </label>
        <label class="item item-input" ng-class="{ 'has-error' : postForm.$submitted && postForm.occurrences.$invalid}">
          <span class="input-label">Occurrences in the period:</span>
          <input type="number" name="occurrences" min="1" step="1" pattern="\d*" ng-model="ctrl.model.occurrences" ng-required="ctrl.model.gRecurringEnabled">
        </label>
        <div class="form-errors" ng-messages="postForm.$submitted && postForm.occurrences.$error">
          <div ng-messages-include="core/errors/messages.html"></div>
        </div>
        <label class="item item-input">
          <span class="input-label">Cues:</span>
          <textarea ng-model="ctrl.model.cues" placeholder="What will trigger the routine? a time? a place? another activity? feeling? sound? smell?"></textarea>
        </label>
        <label class="item item-input">
          <span class="input-label">Rewards:</span>
          <textarea type="text" ng-model="ctrl.model.rewards" placeholder="What is the positive consequence of the routine?"></textarea>
        </label>
      </div>

    </div>
    <div ng-if="ctrl.model.postType && !ctrl.sharedPost" class="item item-input attach-actions">
      Attach:
        <a href="" class="button button-clear attach-action" ng-if="!ctrl.model.image" ng-click="ctrl.attachPhotos()"><i class="positive ion-camera"></i> Photo</a>
        <a href="" class="button button-clear attach-action" ng-if="!ctrl.model.link" ng-click="ctrl.addLink = true"><i class="assertive ion-link"></i> Link</a>
        <a href="" class="button button-clear attach-action" ng-if="!ctrl.model.files" ng-click="ctrl.attachFiles()"><i class="energized ion-document-text"></i> Files</a>
    </div>

    <!-- Begin of link extraction -->
    <div ng-if="ctrl.addLink || ctrl.model.link">
      <div class="item item-divider">
        Link
      </div>
      <div ng-if="!ctrl.model.link" class="item item-input-inset link-extraction">
        <label class="item-input-wrapper">
          <input type="text" ng-model="ctrl.linkExtraction.url" ng-blur="ctrl.extractLink()" ng-enter="ctrl.extractLink()" placeholder="Type or paste a link">
        </label>
        <a href="" ng-click="ctrl.extractLink()" class="button button-balanced button-small" ng-show="!ctrl.linkExtraction.started">Add</a>
        <a href="" ng-click="ctrl.addLink = false" class="button button-light button-small icon ion-ios-close" ng-show="!ctrl.linkExtraction.started"></a>
        <ion-spinner ng-show="ctrl.linkExtraction.started"></ion-spinner>
      </div>
      <div ng-if="ctrl.model.link" class="extract-result">
        <div class="row responsive-sm">
          <div class="col col-80 col-offset-10">
            <button class="button-remove-link button button-icon icon icon-left button-small assertive ion-close-circled" ng-click="ctrl.removeLink()">Remove</button>
            <link-preview link="ctrl.model.link"></link-preview>
          </div>
        </div>
      </div>
    </div>
    <!-- End of link extraction -->

    <!-- Begin of photos embed/upload -->
    <div ng-if="ctrl.model.image" class="item item-divider">
      Photo
    </div>
    <div ng-if="ctrl.model.image" class="item item-image">
      <img ng-src="{{ctrl.model.image}}" />
      <button class="button button-stable remove-photo" ng-click="ctrl.removePhoto()">
        <i class="ion-close-circled assertive"></i> Remove
      </button>
    </div>
    <!-- End of photos embed/upload -->

    <!-- Begin of files attachment -->
    <div ng-if="ctrl.model.files.length">
      <div class="item item-divider">
        Files
      </div>
      <div class="list">
        <div class="item" ng-repeat="file in ctrl.model.files">
            <h2>{{file.filename}}</h2>
            <p>{{file.mimetype}}</p>
        </div>
      </div>
    </div>
    <!-- End of files attachment -->

    <!-- Sharing a post -->
    <div class="item" ng-if="ctrl.sharedPost">
      <small>Original post:</small>
      <way-post-view post="ctrl.sharedPost" reshared="true" hide-share-button="true" user="ctrl.user"></way-post-view>
    </div>

    <!-- Share options -->
    <div ng-if="(ctrl.model.postType && !ctrl.model.id) || ctrl.sharedPost" class="item item-input cancel-overlay">
        <span class="input-label">Share with:</span>
        <tags-input
          class="share-with"
          name="share"
          placeholder="Add supporters, or those you support"
          ng-model="ctrl.selectedContacts"
          replace-spaces-with-dashes="false"
          on-tag-adding="ctrl.validateContact($tag)"
          key-property="email"
          display-property="email"
          template="tag-template">
          <auto-complete
            source="ctrl.loadContacts($query)"
            min-length="0"
            template="autocomplete-template"></auto-complete>
        </tags-input>
        <!-- <multiple-select-modal header-text="Choose the contacts"
                            allow-empty='true'
                            items="ctrl.allContacts"
                            callback="ctrl.addContacts"
                            multi-select="true" /> -->
    </div>
    <ion-toggle
        ng-if="ctrl.model.postType || ctrl.sharedPost"
        ng-model="ctrl.model.canShare"
        class="item item-text-wrap re-share">
      Re-sharing:
    </ion-toggle>
    <!-- End of share options -->

    <!-- Begin of post button actions -->
    <div ng-if="ctrl.model.postType || ctrl.sharedPost" class="buttons padding">
      <button class="button button-positive" type="submit" ng-disabled="saving || ctrl.linkExtraction.started" ng-bind="saving ? 'Saving...' : ctrl.post ? 'Update' : 'Post'"></button>
      <a href="" class="button button-light" ng-click="ctrl.cancelPost()">Cancel</a>
    </div>
    <!-- End of post button actions -->
  </form>
  </div>
</div>

<script type="text/ng-template" id="tag-template">
  <div class="tag-template">
    <div class="left-panel">
      <i class="icon" ng-class="{'ion-person': data.id || data.id == 0, 'ion-email': !data.id}"></i>
    </div>
    <div class="right-panel">
      <span>{{data.firstName ? data.firstName + ' ' + data.lastName : data.email}}</span>
      <a class="remove-button" ng-click="$removeTag()"><i class="icon ion-close-circled"></i></a>
    </div>
  </div>
</script>

<script type="text/ng-template" id="autocomplete-template">
  <div class="autocomplete-template">
    <div class="left-panel">
      <i class="icon ion-person"></i>
    </div>
    <div class="right-panel">
      <span class="firstName" ng-if="data.firstName" ng-bind-html="$highlight(data.firstName)"></span> <span ng-if="data.lastName" class="lastName" ng-bind-html="$highlight(data.lastName)"></span>
      <span class="email" ng-bind-html="$highlight(data.email)"></span>
    </div>
  </div>
</script>

<script type="text/ng-template" id="/tags.tpl">
<ul class="list-group hashtag-search">
    <li mentio-menu-item="tag" ng-repeat="tag in items" class="list-group-item">
        <span class="text-primary" ng-bind-html="tag.text | mentioHighlight:typedTerm:'menu-highlighted' | unsafe"></span>
    </li>
</ul>
</script>
