<div class="social-login" ng-class="{'on-login': onLogin}">
    <p ng-if="onLogin">Please wait...</p>
    <p ng-if="noEmail" class="assertive">In order to procede with your login, you need to allow our app to have access to your e-mail.</p>
    <button class="button button-small button-positive icon ion-social-facebook" ng-disable="onLogin" ng-click="login('facebook')"></button>
    <button class="button button-small button-assertive icon ion-social-googleplus" ng-disable="onLogin" ng-click="login('google')"></button>
</div>
