<ion-view view-title="Create your account" cache-view="false">
  <ion-content padding="true" class="has-header">
    <form name="registerForm" ng-submit="onRegister()">
      <ion-list>

        <label class="item item-input">
          <span class="input-label">First name:</span>
          <input type="text" ng-model="register.name" placeholder="First name" required>
        </label>

        <label class="item item-input">
          <span class="input-label">Last name:</span>
          <input type="text" ng-model="register.lastName" placeholder="Last name" required>
        </label>

        <label class="item item-input">
          <span class="input-label">Username:</span>
          <input type="text" ng-model="register.username" placeholder="Username" required>
        </label>

        <label class="item item-input">
          <span class="input-label">E-mail:</span>
          <input type="email" ng-model="register.email" placeholder="E-mail" required>
        </label>

        <label class="item item-input">
          <span class="input-label">Password:</span>
          <input type="password" ng-model="register.password" placeholder="Create a password" required check-pw>
        </label>

        <label class="item item-input">
          <span class="input-label"></span>
          <p>Use at least one uppercase letter, one numeral and seven characters.</p>
        </label>

      </ion-list>

      <div class="spacer" style="height: 40px;"></div>

      <p>By clicking on <strong>"Sign Up"</strong>, you agree to our <a ui-sref="public.register.terms">terms of service</a> and <a ui-sref="public.register.privacy">privacy policy</a>.</p>

      <button class="button button-stable button-block" ng-disabled="registerForm.$invalid" type="submit">
        Sign Up
      </button>

      <a href="#!/login" class="button button-positive button-clear button-block">Already have an account? Log in now</a>

    </form>
  </ion-content>
</ion-view>
