<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu side="left" expose-aside-when="(min-width:1024px)">
    <ion-content>
      <ion-list>
        <form ng-submit="doSearch()">
          <div class="item item-input-inset item-dark">
            <label class="item-input-wrapper">
              <input id="tags" type="text" name="waysearch" ng-model="search.query" mentio placeholder="Search for #tags">
            </label>
            <button class="button button-stable button-small">Search</button>
          </div>
          <mentio-menu
                class="mentio-search-menu"
                mentio-for="'tags'"
                mentio-trigger-char="'#'"
                mentio-items="tagsView"
                mentio-template-url="/tags.tpl"
                mentio-search="searchTag(term)"
                mentio-select="getTagText(item)"
                ></mentio-menu>
        </form>

        <a nav-clear menu-close ui-sref="app.main.home" ui-sref-active="active" class="item item-dark">
           Main
        </a>

        <a nav-clear menu-close ui-sref="app.explore" ui-sref-active="active" class="item item-dark">
          Explore
        </a>
        <a nav-clear menu-close href="" ng-click="routeClearCache($event, 'app.plan')" ui-sref="app.plan" ui-sref-active="active" class="item item-dark">
          Plan
        </a>
        <a nav-clear menu-close ui-sref="app.unite" ui-sref-active="active" class="item item-dark">
          Unite
        </a>
        <a nav-clear menu-close ui-sref="app.me.discoveries" ui-sref-active="active" class="item item-dark">
          Me
        </a>
        <!-- <a nav-clear menu-close ui-sref="app.guideme" ui-sref-active="active" class="item item-dark">
          Guide me
        </a> -->

        <div class="spacer" style="height: 40px;"></div>
        <a nav-clear menu-close ui-sref="app.help-feedback" ui-sref-active="active" class="item item-dark">
          Feedback
        </a>
        <a nav-clear menu-close ui-sref="app.about" ui-sref-active="active" class="item item-dark">
          About
        </a>

        <a nav-clear menu-close ng-click="logout()" class="item item-dark">
          Log Out
        </a>
      </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-positive">
      <a class="button button-clear ion-help nav-clear" menu-close ng-click="showHelp()"></a>
      <div class="title">Waybook 2.0</div>
      <button class="button button-clear ion-gear-a" menu-close ui-sref="app.me.account"></button>
    </ion-footer-bar>
  </ion-side-menu>

  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button state-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button hide-when="(min-width:1024px)" class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <button class="button button-clear button-header-avatar" ng-click="popover.show($event)">
          <img gravatar-src="'{{app.user.email}}'" gravatar-size="80" gravatar-default="mm">
          <span>{{app.user.firstName}}</span>
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="bodyContent"></ion-nav-view>
  </ion-side-menu-content>
</ion-side-menus>

<script id="templates/popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-content>
      <div class="list" ng-click="popover.hide()">
        <a class="item item-icon-left" ui-sref="app.dashboard">
          <i class="icon ion-speedometer"></i>
          My progress
        </a>
        <a class="item item-icon-left" ui-sref="app.me.account">
          <i class="icon ion-gear-a"></i>
          My account
        </a>
        <a class="item item-icon-left" ng-click="logout()">
          <i class="icon ion-power"></i>
          Logout
        </a>
      </div>
    </ion-content>
  </ion-popover-view>
</script>

<script type="text/ng-template" id="/tags.tpl">
<ul class="list-group hashtag-search">
    <li mentio-menu-item="tag" ng-repeat="tag in items" class="list-group-item">
        <span class="text-primary" ng-bind-html="tag.text | mentioHighlight:typedTerm:'menu-highlighted' | unsafe"></span>
    </li>
</ul>
</script>
