<ion-view view-title="Recover password">
  <ion-content padding="true">
    <div class="login small-on-wide">
      <form name="recoverPasswordForm">
        <div class="card">
          <label class="item item-input">
            <span class="input-label">New password:</span>
            <input type="password" ng-model="password.new" name="password" placeholder="At least one digit and one uppercase letter" required ng-minlength="7" check-pw>
          </label>
          <div class="form-errors" multiple ng-messages="recoverPasswordForm.$submitted && recoverPasswordForm.password.$error">
            <div class="form-error" ng-message="minlength">Your password must contain at least 7 characters.</div>
            <div ng-messages-include="core/errors/messages.html"></div>
          </div>
          <label class="item item-input">
            <span class="input-label">Confirm password:</span>
            <input type="password" name="confirmPassword" ng-model="password.confirm" placeholder="Type again your new password" required password-match="password.new">
          </label>
          <div class="form-errors" multiple ng-messages="recoverPasswordForm.$submitted && recoverPasswordForm.confirmPassword.$error">
            <div class="form-error" ng-message="compareTo">Your password confirmation don't match.</div>
            <div ng-messages-include="core/errors/messages.html"></div>
          </div>
        </div>

        <button class="button button-positive button-block" ng-click="setNewPassword(recoverPasswordForm)">Set new password</button>
      </form>
    </div>
  </ion-content>
</ion-view>
