<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">New Supporter</h1>
    <button class="button button-clear button-primary" ng-click="modalAddSupporter.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <form name="addSupporterForm" novalidate>
        <label class="item item-input">
          <span class="input-label">First Name</span>
          <input ng-model="newSupporter.firstName" type="text" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input ng-model="newSupporter.lastName" type="text" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input ng-model="newSupporter.email" type="email" required>
        </label>
        <button class="button button-full button-positive" ng-click="addSupporter(newSupporter)" ng-disabled="addSupporterForm.$invalid">Add</button>
      </form>
    </div>
  </ion-content>
</ion-modal-view>
