<ion-view view-title="Unite" class="unite">
  <ion-content padding="true" class="has-header">
    <div ui-view="unite-bodyContent">
      <div class="card no-contacts" ng-if="!contacts.length">
        <div class="item item-text-wrap">
          <i class="icon ion-person-stalker"></i>
          <h3 class="no-contacts-message">You don't have any supporter yet.</h3>
          <button class="button button-block button-positive icon ion-person-add" ng-click="openModalAddSupporter()"> Add one</button>
        </div>
      </div>
      <div class="list" ng-if="contacts.length">
        <div class="item item-avatar" href="#" ng-repeat="contact in contacts | orderBy: 'firstName'">
          <img gravatar-src="'{{contact.email}}'" gravatar-size="80" gravatar-default="mm">
          <h2>{{contact.firstName}} {{contact.lastName}}</h2>
          <p>{{contact.email}}</p>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-stable" ng-if="contacts.length">
    <button class="button button-bottom button-block button-positive ion ion-person-add" ng-click="openModalAddSupporter()"> Add supporter</button>
  </ion-footer-bar>
</ion-view>
