<ion-view hide-nav-bar="true" class="intro">
  <ion-slide-box show-page="true" on-slide-changed="slideChanged($index)">
    <ion-slide class="screen-1">
      <div class="text">
        <h2>Everyone has genius.</h2>
        <h4>Discover yours.</h4>
      </div>

    </ion-slide>

    <ion-slide class="screen-2">
      <div class="text">
        <h2>Own your future.</h2>
        <h4>There’s magic in a goal.</h4>
      </div>

    </ion-slide>

    <ion-slide class="screen-3">
      <div class="text">
        <h2>Success comes easier</h2>
        <h4>...with a help from your supporters.</h4>
      </div>
    </ion-slide>
  </ion-slide-box>
  <div class="buttons-bottom" ng-class="{'last-slide': slideIndex == 2}">
    <button class="button button-light" ng-click="startApp('register')">Sign up</button>
    <button class="button button-light" ng-click="startApp('login')">Sign in</button>
  </div>
</ion-view>
