<ion-view view-title="Waybook" class="intro">
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button button-positive button-clear icon ion-chevron-left" ng-click="previous()" ng-if="slideIndex > 0"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-positive button-clear icon ion-chevron-right" ng-click="next()" ng-if="slideIndex != 2"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-slide-box show-page="true" pager-click="goToSlide(index)" on-slide-changed="slideChanged($index)" does-continue="true">
    <ion-slide class="screen-1">
      <div class="text">
        <h2>Everyone has genius.</h2>
        <h4>Discover yours.</h4>
      </div>

    </ion-slide>

    <ion-slide class="screen-2">
      <div class="text">
        <h2>Own your future.</h2>
        <h4>There’s magic in a goal.</h4>
      </div>

    </ion-slide>

    <ion-slide class="screen-3">
      <div class="text">
        <h2>Success comes easier</h2>
        <h4>...with help from your supporters.</h4>
      </div>
    </ion-slide>
  </ion-slide-box>
  <div class="buttons-container">
    <div class="buttons-footer" ng-class="{'last-slide': slideIndex == 2}">
      <div class="row">
        <div class="col">
          <button class="button button-light button-block" ui-sref="public.register">Sign up</button>
        </div>
        <div class="col">
          <button class="button button-light button-block" ui-sref="public.login">Sign in</button>
        </div>
      </div>
    </div>
  </div>
</ion-view>
