.item-question {
  font-size: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 600;
}

.item-cliclable {
  cursor: pointer;
  text-align: center;
}

.answer-text {
  position: absolute;
  font-size: 12px;
  right: 5px;
  bottom: 0;
}

.item-dont-know {
  background-color: $light;
}

.item-must-have {
  background-color: $balanced;
  border-color: darken($balanced, 5%);
}

.item-should-have {
  background-color: darken($balanced, 15%);
  border-color: darken($balanced, 20%);
  color: #FFF;
}

.item-nice-have {
  background-color: darken($balanced, 30%);
  border-color: darken($balanced, 35%);
  color: #FFF;
}

.item-avoid {
  background-color: $assertive;
  border-color: darken($assertive, 5%);
  color: #FFF;
}

.item-radio input:checked ~ .item-content {
  background-color: lighten($positive, 35%);
  font-weight: bold;
  padding-left: 25px;
}
