@import '../lib/ng-tags-input/ng-tags-input.min.css';

.post {

  $placeholder-border-color: #d4d4d4;

  .placeholder {
    position: absolute;
    top: 26px;
    left: 28px;

    &.active {
      color: #afafaf;
    }
  }

  .textarea {
    border: 1px solid $placeholder-border-color;
    padding: 10px;
    position: relative;
    cursor: text;
    word-wrap: break-word;
    border-radius: 3px;
    max-height: 178px;
    min-height: 58px;
    overflow-y: scroll;

    &.inactive {
      max-height: 40px;
      min-height: 40px;
      overflow: visible;
      &::after, &::before {
        top: 100%;
      	left: 13%;
      	border: solid transparent;
      	content: " ";
      	height: 0;
      	width: 0;
      	position: absolute;
      	pointer-events: none;
      }

      &::after {
        border-color: rgba(255, 255, 255, 0);
      	border-top-color: #ffffff;
      	border-width: 10px;
      	margin-left: -10px;
      }

      &::before {
        border-color: #ffffff;
      	border-top-color: #d4d4d4;
      	border-width: 11px;
      	margin-left: -11px;
      }
    }
  }


  .post-content-container {
    position: relative;
    width: 100%;
    margin-right: 5px;
    font-size: 90%;
  }

  .post-content {
    width: 100%;
    max-height: 120px;
    min-height: 70px;
    overflow-y: scroll;
    cursor: text;
    word-wrap: break-word;
  }

  .textarea {
    border: 1px solid $placeholder-border-color;
    padding: 10px;
    position: relative;
    cursor: text;
    border-radius: 3px;

    &::after, &::before {
      top: 100%;
    	left: 13%;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    }

    &::after {
      border-color: rgba(255, 255, 255, 0);
    	border-top-color: #ffffff;
    	border-width: 10px;
    	margin-left: -10px;
    }

    &::before {
      border-color: #ffffff;
    	border-top-color: #d4d4d4;
    	border-width: 11px;
    	margin-left: -11px;
    }
  }

  .button-bar {
    margin-top: 20px;
  }

  // Photo attached
  .photo-attached {
  }

  .remove-photo {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  // Link extraction result
  .extract-result-link {
    display: table;
    text-decoration: none;
    border: 1px solid #c8c8c8;
    padding: 5px 5px 0 5px;
  }

  .extract-result-image-landscape {
    display: block;
    .extract-result-image-container {
      display: block;
      text-align: center;
      margin: -5px -5px 0 -5px;
      width: auto;
      height: 200px;
      background-color: #e8e8e8;
    }

    .extract-result-text-container {
      display: block;
      padding: 0;
      width: auto;
    }
  }

  .extract-result-image-container, .extract-result-icon-container {
    display: table-cell;
    vertical-align: middle;
    width: 20%;
    height: 100%;
    overflow: hidden;
  }

  .extract-result-image {
    max-width: 100%;
    display: block;
  }

  .extract-result-text-container {
    position: relative;
    display: table-cell;
    width: 80%;
    padding-left: 20px;
  }

  .extract-result-icon-container {
    height: 80px;
    padding: 20px 0;
    text-align: center;

    img {
      display: inline;
      height: 40px;
    }
  }

  .extract-result-description {
    color: #6a6a6a;
    font-size: 80%;
    line-height: 115%;
  }

  .button-remove-link {
    &::before {
      font-size: 16px;
    }
  }

  .attach-action {
    margin: 0 10px 5px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: 4px;

    i {
      font-size: 150%;
    }
  }

  .share-with {
    width: 100%;
    margin-right: 8px;

    input {
      padding-right: 0 !important;
    }
  }

  .tags {
    border: 0;
    box-shadow: none;
  }

  .cancel-overlay {
    overflow: visible;
  }

  .button-add-contact {
    padding: 0 12px 0 10px;
    margin-right: 8px;
  }

  .re-share {
    z-index: 1;
  }

  .tags {
    .tag-item {
      background: $balanced;
      color: #FFF;
      border-color: darken($balanced, 10);

      &.selected {
        background: $assertive;
        border-color: darken($assertive, 10);

        .ion-close-circled {
          color: darken($assertive, 25);
        }
      }
    }

    .ion-close-circled {
      color: darken($balanced, 25);
    }
  }

  .tag-template div:first-child {
    float: left;
  }

  .tag-template div:first-child img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }

  .tag-template div:last-child {
    float: left;
    margin-left: 5px;
  }

  .autocomplete-template {
    .left-panel {
      float: left;

      img {
        width: 48px;
        height: 48px;
        vertical-align: middle;
      }
    }

    .right-panel {
      float: left;
      margin-left: 5px;

      .name {
      }

      .email {
        color: #a2a2a2;
        font-size: 70%;

        em {
          font-size: 110%;
        }
      }
    }

  }

  .autocomplete {
    .selected {
      .email {
        color: #FFF;
      }
    }
  }



}
