.post-view {

  &.list {
    margin-bottom: 20px;
  }

  &.just-edited {
    @include just-edited();
  }

  .post-title {
    margin-top: 0;
  }

  .item-image {
    img:first-child {
      @media (min-width: 640px) {
        max-height: 300px;
        width: auto;
      }
    }
  }

  .post-actions {
    position: absolute;
    top: 0;
    right: 8px;

    button {
      font-size: 110%;
    }
  }

  .item-tags {
    float: right;
  }

  .tag {
    font-weight: bold;
  }

  .item-tag {
    display: inline-block;
    padding: 0 4px;
    font-size: 12px;
    margin-right: 4px;
    background-color: #e6e6e6;

    &:last-child {
      margin-right: 0;
    }
  }

  .subdued {
    cursor: pointer;
  }

  .button-status {
    position: relative;
    top: -5px;
    margin: 0;
  }
}
