.social-login {
  text-align: center;

  .button {
    width: 42px;
    height: 42px;
    min-width: 42px;
    padding: 0;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 5px;

    &:before {
      font-size: 24px; 
    }
  }
}
