<ion-view title="Discoveries" cache="false">
  <div class="bar bar-subheader" ng-if="discoveries.length">
    <div class="small-on-wide">
      <div class="buttons">
        <button class="button button-clear button-positive ion-plus" ui-sref="app.main.type({type: 'discovery'})"> Discovery</button>
      </div>
    </div>
  </div>
  <ion-content padding="true" ng-class="{'has-subheader': discoveries.length}">
    <div class="small-on-wide">
      <div ng-if="!discoveries.length">
        <div class="card">
          <div class="item item-body">What do you know about your self?</div>
        </div>
        <button class="button button-block button-positive" ui-sref="app.main.type({type: 'discovery'})">
          <i class="icon ion-plus"></i> Discovery
        </button>
      </div>
      <way-feed ng-if="discoveries.length" posts="discoveries" type="discovery" user="app.user"></way-feed>
    </div>
  </ion-content>
</ion-view>
