<div class="social-login">
  <div class="row">
    <div class="col">
      <button class="button button-block button-small button-positive icon-left ion-social-facebook" ng-click="facebook()">
        <span class="text">Facebook</span>
      </button>
    </div>
    <div class="col">
      <button class="button button-block button-small button-assertive icon-left ion-social-googleplus" ng-click="facebook()">
        <span class="text">Google</span>
      </button>
    </div>
    <div class="col">
      <button class="button button-block button-small button-calm icon-left ion-social-linkedin" ng-click="facebook()">
        <span class="text">LinkedIn</span>
      </button>
    </div>
  </div>
</div>
