<ion-view view-title="{{viewData.title}}" class="search">
  <form ng-submit="doSearch()">
  <div class="bar bar-subheader">
    <div class="small-on-wide">
      <div class="item-input-inset search-on-bar">
        <div class="custom-label-wrapper">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="text" id="search-page" mentio placeholder="Search for #tags" ng-model="search.query">
          </label>
          <i class="icon ion-close-circled placeholder-icon" ng-if="search.query" ng-click="clearSearch()"></i>
        </div>
        <button class="button button-clear">
          Search
        </button>
      </div>
      <div class="item-select select-type">
        <select ng-model="search.type" name="type" ng-change="doSearch()">
          <option value="">Type</option>
          <option value="goal">Goal</option>
          <option value="habit">Habit</option>
          <option value="discovery">Discovery</option>
          <option value="resource">Resource</option>
          <option value="thought">Thought</option>
        </select>
      </div>
      <div class="item-select select-owner">
        <select ng-model="search.owner" name="owner" ng-change="doSearch()">
          <option value="">Owner</option>
          <option
            ng-selected="{{app.user.id == search.owner}}"
            value="{{app.user.id}}">Me</option>
          <option value="{{owner.id}}"
            ng-selected="{{owner.id == search.owner}}"
            ng-repeat="owner in viewData.results.owners">{{ owner.firstName }} {{ owner.lastName }}</option>
        </select>
      </div>
      <mentio-menu
            class="mentio-search-page"
            mentio-for="'search-page'"
            mentio-trigger-char="'#'"
            mentio-items="tagsView"
            mentio-template-url="/tags.tpl"
            mentio-search="searchTag(term)"
            mentio-select="getTagText(item)"
            ></mentio-menu>
    </div>
  </div>
  </form>
  <ion-content padding="true" class="has-subheader">
    <div class="small-on-wide">

      <div class="list item-as-link" way-post-view-compact ng-repeat="post in viewData.results.posts | orderBy: '-created'" post="post" user="app.user" ng-if="viewData.results.posts.length" ui-sref="app.main.post({id: post.id})"></div>

      <div class="list" ng-repeat="contact in viewData.results.contacts track by contact.id | orderBy: 'firstName'" ng-if="viewData.results.contacts.length">
        <div class="item item-avatar item-as-link" ui-sref="app.unite.contact({contactId:contact.id})" on-hold="showMenu(contact)">
          <img gravatar-src="'{{contact.email}}'" gravatar-size="80" gravatar-default="mm">
          <h2>{{contact.firstName}} {{contact.lastName}}</h2>
          <div class="tags-on-block">
            <div class="item-tag" ng-repeat="tag in contact.tags">#{{tag.text}}</div>
          </div>
          <p>{{contact.email}}</p>
        </div>
      </div>

      <!-- No results  -->
      <div class="card" ng-if="!viewData.results.contacts.length && !viewData.results.posts.length">
        <div class="item item-divider">No results.</div>
        <div class="item item-body">Please try a different search.</div>
      </div>
    </div>
  </ion-content>
</ion-view>
