<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button hide-when="large" class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="bodyContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large">
    <ion-content>
      <ion-list>
        <ion-item class="item item-dark item-avatar">
          <img gravatar-src="'{{app.user.email}}'" gravatar-size="40" gravatar-default="mm">
          <h2>Howdy, John!</h2>
          <p>By the way, nice shirt!</p>
        </ion-item>


        <ion-item nav-clear menu-close href="#!/dashboard" class="item item-dark">
           Main
        </ion-item>
        <ion-item nav-clear menu-close href="#!/discover" class="item item-dark">
          Discover
        </ion-item>
        <ion-item nav-clear menu-close href="#!/plan" class="item item-dark">
          Plan
        </ion-item>
        <ion-item nav-clear menu-close href="#!/unite" class="item item-dark">
          Unite
        </ion-item>
        <ion-item nav-clear menu-close href="#!/me" class="item item-dark">
          Me
        </ion-item>

        <div class="spacer" style="height: 40px;"></div>
        <ion-item nav-clear menu-close href="#!/help-feedback" class="item item-dark">
          Help &amp; Feedback
        </ion-item>
        <ion-item nav-clear menu-close href="#!/about" class="item item-dark">
          About
        </ion-item>

        <ion-item nav-clear menu-close ng-click="app.logout()" class="item item-dark">
          Log Out
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-positive">
      <a class="button button-clear ion-help nav-clear menu-close" href="#!/intro"></a>
      <div class="title">Waybook 1.0.0</div>
      <button class="button button-clear ion-gear-a" ng-click="showSettings()"></button>
    </ion-footer-bar>
  </ion-side-menu>
</ion-side-menus>
